@import "../../color-palette.scss";
@import "../../mixins.scss";

.register-modal {
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  @include is-mobile {
    padding-top: 50px;
  }
  @include is-extra-small-mobile {
    background-color: #131c2b;
    padding-top: 24px; /* Location of the box */
  }
}

/* Modal Content */
.register-modal-content {
  position: relative;
  background-color: $placeholder-background;
  border: 1px solid #1b90e2;
  margin: auto;
  padding: 0;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  @include is-mobile {
    width: 80%;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: $primary;
  float: right;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: black;
  border: 1px solid $primary;
  width: 20px;
  text-align: center;
  @include is-extra-small-mobile {
    margin-top: 0;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.close:hover,
.close:focus {
  color: $primary;
  text-decoration: none;
  cursor: pointer;
}

.register-modal-header {
  padding: 2px 16px;
  color: white;
  h2 {
    margin: 15px 0;
    @include is-extra-small-mobile {
      font-size: 32px;
      font-weight: 700;
    }
  }
}

.register-modal-body {
  padding: 16px;
  padding-bottom: 55px;
  @include is-extra-small-mobile {
    padding: 0 16px 10px 16px;
    label {
      color: $mobile-primary;
    }
  }
  form {
    height: 100%;
    button {
      color: $primary !important;
      border: 1px solid $primary !important;
      background-color: black !important;
    }
  }
}

.form-group {
  label {
    color: $primary !important;
  }
  input {
    color: $primary !important;
    border: 1px solid $primary !important;
    background-color: black !important;
    &::placeholder {
      color: $primary !important;
      opacity: 0.7;
    }
  }
}

$preview-image: 160px;
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  height: $preview-image; /* minimum height */
  width: 70%;
  margin: auto;
  position: relative;
  cursor: pointer;
  @include is-extra-small-mobile {
    outline: 1px dashed $mobile-primary; /* the dash box */
  }
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: $preview-image;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
  @include is-extra-small-mobile {
    padding: 16px;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    color: $mobile-primary;
  }
}

.preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 100%;
  height: $preview-image;
  border-radius: 10px !important;
  border: 1px solid $primary;
}

.preview__close {
  position: absolute;
  top: -20px;
  right: 0;
  color: white;
  float: right;
  font-size: 30px;
  float: right;
  cursor: pointer;
  width: 20px;
  margin-bottom: 0;
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
  @include is-extra-small-mobile {
    background-color: transparent !important;
    width: fit-content !important;
    height: fit-content !important;
    top: -5px !important;
    right: 5px !important;
    left: unset !important;
  }
}
.form-control {
  background-color: black !important;
  border: 1px solid #2af3f3 !important;
  color: #2af3f3 !important;
}

.input-group-text {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  width: 150px !important;
  @include is-extra-small-mobile {
    width: 100px !important;
    height: 42px !important;
    select {
      height: 100% !important;
    }
  }
}
.input-group-prepend {
  display: flex !important;
  @include is-extra-small-mobile {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }
}

.is-view {
  &--mobile {
    display: none;
    @include is-extra-small-mobile {
      display: inline-block;
      padding-right: 16px;
      padding-left: 16px;
      margin-top: 0;
      width: 100%;
      &__content {
        margin-top: 40px;
      }
    }
  }
  &--desktop {
    display: block;
    @include is-extra-small-mobile {
      display: none;
    }
  }
}

$section-height: 500px;

$section-tab-height: 45px;
$section-tab-height-active: 55px;
$section-tab-width: 75px;

$bg: rgba(0, 0, 0, 0.75);

.clipped-section-tabs {
  position: relative;
  margin-bottom: 0;
  padding: 32px 16px;
  &__top-right-corner {
    display: none;
    @include is-extra-small-mobile {
      display: block;
      position: absolute;
      height: $clipped-area-border-value-mob * 2;
      width: $corner-width;
      background-color: $mobile-primary;
      top: 8px;
      left: $clipped-area-border-value-mob * -1.5;
      transform: rotate(-45deg);
      transform-origin: top left;
      z-index: 10;
    }
  }
  &__top-right-corner-main {
    display: none;
    @include is-extra-small-mobile {
      display: block;
      position: absolute;
      height: $clipped-area-border-value-mob;
      width: $corner-width;
      background-color: $mobile-primary;
      top: 0;
      right: 0;
      transform: rotate(45deg);
      transform-origin: top right;
      z-index: 10;
    }
  }
  &__bottom-left-corner {
    position: absolute;
    height: $clipped-area-border-value-mob;
    width: $corner-width;
    background-color: $mobile-primary;
    bottom: 42px;
    left: 16px;
    transform: rotate(45deg);
    transform-origin: bottom left;
    z-index: 10;
  }
  &__bottom-right-corner {
    position: absolute;
    height: $clipped-area-border-value-mob;
    width: $corner-width;
    background-color: $mobile-primary;
    bottom: 42px;
    right: 16px;
    transform: rotate(-45deg);
    transform-origin: bottom right;
    z-index: 10;
  }
}

.upper-segment-tabs {
  position: relative;
  height: $section-tab-height;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: $border-thickness solid rgba(0, 0, 0, 0.9);
  font-size: 24px;
  padding: 5px 7px;
  color: white;
  margin-top: auto;

  clip-path: polygon(
    $clipping-value 0,
    100% 0,
    100% 0,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    0 $clipping-value
  );
}
.upper-segment-tabs.active {
  border-right: $border-thickness solid $mobile-primary;
  border-left: $border-thickness solid $mobile-primary;
  border-top: $border-thickness solid $mobile-primary;
  height: 50px;
  z-index: 10;
  font-size: 24px;
}
.body-tabs {
  position: relative;
  width: 100%;
  height: calc(#{$section-height} - #{$section-tab-height} - 20px);
  padding: 50px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-left: $clipped-area-border-value-mob solid $mobile-primary;
  border-right: $clipped-area-border-value-mob solid $mobile-primary;
  margin-top: $clipping-value;
  @include is-extra-small-mobile {
    height: fit-content;
    padding: 14px 18px;
  }
  @include is-mobile {
    height: calc(666px - #{$section-tab-height} - 20px);
    padding: 20px 30px;
  }
}
.segment {
  height: $clipping-value;
  width: 100%;
  background-color: $bg;
}
.lower-segment-tabs {
  border-bottom: $border-thickness solid $mobile-primary;
  clip-path: polygon(
    $clipping-value $clipping-value,
    0 0,
    100% 0,
    calc(100% - #{$clipping-value}) 100%,
    0 100%,
    100% 100%,
    0 $clipping-value,
    0 $clipping-value
  );
}
.upper-segment-tabs-main {
  position: absolute;
  left: -1px;
  top: -1 * $clipping-value;
  border-left: $clipped-area-border-value-mob solid $mobile-primary;
  border-top: $clipped-area-border-value-mob solid $mobile-primary;
  clip-path: polygon(
    0 0,
    calc(100% - #{$clipping-value}) 0,
    100% $clipping-value,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    0 0
  );
}

.grid-view {
  &__container {
    @include is-extra-small-mobile {
      width: 100%;
      padding: 0;
    }
  }
  &__row {
    @include is-extra-small-mobile {
      width: 100%;
      margin: 0;
    }
  }
  &__col {
    @include is-extra-small-mobile {
      padding: 0 !important;
      margin: 0 0 10px 0;
    }
  }
}

.form-group-mobile {
  position: relative;
  margin-bottom: 10px !important;
  div {
    position: absolute;
    top: -0.5px;
    left: -0.5px;
    width: calc(100% + 1px);
    height: 43px;
    // padding: 8px 12px;
    @include create-hexagone-shape(5px);
    background-color: $mobile-primary;
  }
  div.mask {
    height: 93px;
    width: calc(100% + 1px);
    @include create-hexagone-shape(5px);
    background-color: $mobile-primary;
  }

  div.preview,
  div.dropbox {
    height: 91px !important;
    width: calc(100% - 1px);
    background-color: black;
    top: 0.5px;
    left: 0.5px;
    input[type="file"] {
      height: 91px !important;
    }
  }
}

div.avatars {
  height: 93px !important;
}

div.date-of-birth {
  height: 43px !important;
  .form-group {
    height: 43px !important;
    top: 0;
    left: 0;
  }
}
div.phones {
  height: 43px !important;
  #phone-number {
    width: calc(100% - 100px);
    margin-left: auto;
  }
  // .form-group {
  //   height: 43px !important;
  //   top: 0;
  //   left: 0;
  // }
}

.form-control {
  @include is-extra-small-mobile {
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    color: white;
    @include create-hexagone-shape(5px);
  }
}
.form-control::placeholder {
  @include is-extra-small-mobile {
    font-family: "Arial" !important;
    color: $mobile-primary;
    font-size: 16px;
  }
}
input[type="text"],
input[type="password"] {
  @include is-extra-small-mobile {
    height: 42px !important;
  }
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 16px;
  button {
    margin-bottom: 0;
    margin-left: auto;
  }
}
