@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.tab-pane {
  padding: 30px;
  position: relative;
  @include is-extra-small-mobile {
    padding: 0;
  }
  h3 {
    word-break: break-word;
  }
  &__custom-button-wrapper {
    width: 250px;
    height: 52px;
    cursor: pointer;
    position: absolute;
    right: 0;
    &__outside {
      position: relative;
      width: 100%;
      height: 100%;
      background: $solid-header;
      border: 2px solid $primary;
      color: $primary;
      border-radius: 10px;
      font-size: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;
      @include is-mobile {
        display: none !important;
      }
    }
    @include is-mobile {
      display: none !important;
    }
  }
}

.nav-tabs {
  border: none;
  @include is-mobile {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap !important;
    &::-webkit-scrollbar {
      width: 5px !important;
      background-color: $accent !important;
      border-radius: 20px !important;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary !important;
      border-radius: 20px !important;
    }
  }
}

.nav-tabs .nav-link:nth-child(1) {
  margin: 0 2px 0 0;
  @include is-mobile {
    margin: 0;
  }
}
.nav-tabs .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c3656;
  cursor: pointer !important;
  color: rgba($color: #fff, $alpha: 0.4);
  border: none;
  margin: 0 2px;
  width: 120px;
  height: 50px;
  @include create-hexagone-shape-tab(10px);
  transform: translateY(5px);
  @include is-mobile {
    width: max-content;
    height: 50px;
    margin: 0;
    font-size: 0.9rem;
  }
}

.nav-item.nav-link.active {
  background-color: rgba($color: $placeholder-background, $alpha: 0.5);
  height: 55px;
  filter: drop-shadow(0 0 4px #175e90) !important;
  border: none;
  color: white;
  transform: translateY(0px);
  @include is-mobile {
    width: 80px;
    height: 50px;
    margin: 0;
  }
}

.tab-pane.fade.show.active {
  background-color: rgba($color: $placeholder-background, $alpha: 0.7);
  @include is-extra-small-mobile {
    background-color: transparent;
  }
}

.nav-tabs .nav-link .active,
.nav-tabs .nav-item .show .nav-link {
  background-color: $placeholder-background !important;
  filter: drop-shadow(0 0 4px #175e90) !important;
  color: white;
  border: none;
}

.tab-wrapper {
  &__details {
    &__img {
      width: 70%;
      border-radius: 5px;
      @include is-mobile {
        width: 60%;
        display: block;
        margin: 0 auto 15px;
      }
      @include is-extra-small-mobile {
        width: 100%;
        margin: 0;
      }
    }
    &__title {
      font-size: 1.3rem;
      margin: 0;
      @include is-extra-small-mobile {
        font-size: 16px;
      }
    }
    &__content {
      @include is-extra-small-mobile {
        padding-top: 15px;
      }
    }
    &__description {
      font-size: 1rem;
      margin-top: 10px;
    }
    &__format {
      font-size: 0.9rem;
      font-weight: lighter;
      margin: 0 10px;
      @include is-mobile {
        margin-right: 10px;
      }
    }
    &__platform {
      margin-right: 5px;
      @include is-extra-small-mobile {
        font-size: 14px;
      }
    }
    &__region {
      margin-left: 5px;
      @include is-extra-small-mobile {
        font-size: 14px;
      }
    }
    &__kick-off {
      margin: 5px 0;
      padding: 5px 10px;
      // background-color: rgba($color: #fff, $alpha: 0.2) !important;
      span {
        display: inline-block;
        margin-left: 5px;
      }
      @include is-extra-small-mobile {
        font-size: 14px;
        padding: 5px 0;
      }
    }
    &__register {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @include is-mobile {
        margin-top: 15px;
      }
      @include is-extra-small-mobile {
        justify-content: flex-start;
        padding: 5px 0;
      }
      a {
        color: white !important;
      }
      div {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-top: 6px;
        margin-right: 5px;
      }
      &--open {
        background-color: rgba(0, 211, 81, 1);
      }
      &--closed {
        background-color: red;
      }
      &--soon {
        background-color: orange;
      }
      // &--desktop {
      //   display: block;
      //   @include is-extra-small-mobile {
      //     display: none;
      //   }
      // }
      &--mobile {
        display: none;
        @include is-extra-small-mobile {
          display: block;
        }
      }
    }
  }
}

.upper-segment {
  height: 20px;
  width: 100%;
  background-color: rgba($color: $placeholder-background, $alpha: 0.7);
  @include is-extra-large-desktop {
    clip-path: polygon(
      0 0,
      98.8% 0,
      100% 100%,
      100% 0,
      100% 102%,
      0 102%,
      0 100%,
      0 0
    );
  }
  @include is-large-desktop {
    clip-path: polygon(
      0 0,
      98.6% 0,
      100% 100%,
      100% 0,
      100% 102%,
      0 102%,
      0 100%,
      0 0
    );
  }
  @include is-desktop {
    clip-path: polygon(
      0 0,
      98.6% 0,
      100% 100%,
      100% 0,
      100% 102%,
      0 102%,
      0 100%,
      0 0
    );
  }
  @include is-tablet {
    clip-path: polygon(
      0 0,
      98.2% 0,
      100% 100%,
      100% 0,
      100% 102%,
      0 102%,
      0 100%,
      0 0
    );
  }
  @include is-mobile {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      100% 0,
      100% 102%,
      0 102%,
      0 100%,
      0 0
    );
  }
}
.lower-segment {
  height: 40px;
  width: 100%;
  &--right {
    background-color: rgba($color: $placeholder-background, $alpha: 0.7);
    height: 50%;
    width: 100%;
    @include is-extra-large-desktop {
      clip-path: polygon(
        0 -1%,
        100% -1%,
        100% 100%,
        100% 0,
        98.8% 100%,
        0 100%,
        0 100%,
        0 0
      );
    }
    @include is-large-desktop {
      clip-path: polygon(
        0 -1%,
        100% -1%,
        100% 100%,
        100% 0,
        98.6% 102%,
        0 102%,
        0 100%,
        0 0
      );
    }
    @include is-desktop {
      clip-path: polygon(
        0 -1%,
        100% -1%,
        100% 100%,
        100% 0,
        98.2% 102%,
        0 102%,
        0 100%,
        0 0
      );
    }
    @include is-tablet {
      clip-path: polygon(
        0 -1%,
        100% -1%,
        100% 100%,
        100% 0,
        97.8% 102%,
        0 102%,
        0 100%,
        0 0
      );
    }
    @include is-mobile {
      clip-path: polygon(
        0 -1%,
        100% -1%,
        100% 100%,
        100% 0,
        95.5% 102%,
        0 102%,
        0 100%,
        0 0
      );
    }
  }
  &--left {
    background-color: rgba($color: $placeholder-background, $alpha: 0.7);
    height: 50%;
    width: 50%;
    @include is-extra-large-desktop {
      clip-path: polygon(
        0 -1%,
        100% -1%,
        100% 100%,
        100% 0,
        97.5% 102%,
        0 102%,
        2.5% 100%,
        0 0
      );
    }
    @include is-large-desktop {
      clip-path: polygon(
        0 -1%,
        100% -1%,
        100% 100%,
        100% 0,
        97.5% 102%,
        0 102%,
        2.5% 100%,
        0 0
      );
    }
    @include is-desktop {
      clip-path: polygon(
        0 -1%,
        100% -1%,
        100% 100%,
        100% 0,
        97% 102%,
        0 102%,
        3% 100%,
        0 0
      );
    }
    @include is-tablet {
      clip-path: polygon(
        0 -1%,
        100% -1%,
        100% 100%,
        100% 0,
        96% 102%,
        0 102%,
        4% 100%,
        0 0
      );
    }
    @include is-mobile {
      clip-path: polygon(
        0 -1%,
        100% -1%,
        100% 100%,
        100% 0,
        91% 102%,
        0 102%,
        9% 100%,
        0 0
      );
    }
  }
}

.is-view {
  &--mobile {
    display: none;
    @include is-extra-small-mobile {
      display: block;
    }
  }
  &--desktop {
    display: block;
    @include is-extra-small-mobile {
      display: none;
    }
  }
}

$section-height: 500px;

$section-tab-height: 35px;
$section-tab-height-active: 45px;
$section-tab-width: 75px;

$bg: rgba(0, 0, 0, 0.75);

.clipped-section-tabs {
  position: relative;
  margin-bottom: 100px;
  @include is-extra-small-mobile {
    margin-bottom: 20px;
  }
  &__top-right-corner {
    display: none;
    @include is-extra-small-mobile {
      display: block;
      position: absolute;
      height: $clipped-area-border-value-mob * 2;
      width: $corner-width;
      background-color: $mobile-primary;
      top: 8px;
      right: $clipped-area-border-value-mob * -1.5;
      transform: rotate(45deg);
      transform-origin: top right;
      z-index: 10;
    }
  }
  &__top-right-corner-main {
    display: none;
    @include is-extra-small-mobile {
      display: block;
      position: absolute;
      height: $clipped-area-border-value-mob;
      width: $corner-width;
      background-color: $mobile-primary;
      top: 0;
      right: 0;
      transform: rotate(45deg);
      transform-origin: top right;
      z-index: 10;
    }
  }
  &__bottom-left-corner {
    position: absolute;
    height: $clipped-area-border-value-mob;
    width: $corner-width;
    background-color: $mobile-primary;
    bottom: 10px;
    left: 0;
    transform: rotate(45deg);
    transform-origin: bottom left;
    z-index: 10;
  }
  &__bottom-right-corner {
    position: absolute;
    height: $clipped-area-border-value-mob;
    width: $corner-width;
    background-color: $mobile-primary;
    bottom: 10px;
    right: 0;
    transform: rotate(-45deg);
    transform-origin: bottom right;
    z-index: 10;
  }
  nav {
    overflow-y: scroll;
    width: calc(100% - #{$clipping-value} - 1px);
  }
}

.upper-segment-tabs {
  position: relative;
  height: $section-tab-height;
  width: fit-content;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: $border-thickness solid $mobile-primary;
  font-size: 12px;
  padding: 7px;
  color: white;
  margin-top: auto;

  clip-path: polygon(
    0 0,
    calc(100% - #{$clipping-value}) 0,
    100% $clipping-value,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    0 0
  );
  &__mask {
    height: 35px;
    width: 100%;
    margin-top: auto;
    border-bottom: $clipped-area-border-value-mob solid $mobile-primary;
  }
}
.upper-segment-tabs.active {
  border-right: $border-thickness solid $mobile-primary;
  border-left: $border-thickness solid $mobile-primary;
  border-top: $border-thickness solid $mobile-primary;
  border-bottom: $border-thickness solid transparent;
  height: $section-tab-height-active;
  z-index: 10;
}
.body-tabs {
  position: relative;
  width: 100%;
  height: calc(#{$section-height} - #{$section-tab-height} - 20px);
  padding: 50px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-left: $clipped-area-border-value-mob solid $mobile-primary;
  border-right: $clipped-area-border-value-mob solid $mobile-primary;
  margin-top: $clipping-value;
  @include is-extra-small-mobile {
    height: fit-content;
    padding: 14px 18px;
  }
  @include is-mobile {
    height: calc(666px - #{$section-tab-height} - 20px);
    padding: 20px 30px;
  }
}
.segment {
  height: $clipping-value;
  width: 100%;
  background-color: $bg;
}
.lower-segment-tabs {
  border-bottom: $border-thickness solid $mobile-primary;
  clip-path: polygon(
    $clipping-value $clipping-value,
    0 0,
    100% 0,
    calc(100% - #{$clipping-value}) 100%,
    0 100%,
    100% 100%,
    0 $clipping-value,
    0 $clipping-value
  );
}
.upper-segment-tabs-main {
  position: absolute;
  left: -1px;
  top: -1 * $clipping-value;
  border-left: $clipped-area-border-value-mob solid $mobile-primary;
  // border-top: $clipped-area-border-value-mob solid $mobile-primary;
  clip-path: polygon(
    0 0,
    calc(100% - #{$clipping-value}) 0,
    100% $clipping-value,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    0 0
  );
}

.grid-view {
  &__container {
    @include is-extra-small-mobile {
      width: 100%;
      padding: 0;
    }
  }
  &__row {
    @include is-extra-small-mobile {
      width: 100%;
      margin: 0;
    }
  }
  &__col {
    @include is-extra-small-mobile {
      padding: 0 !important;
      margin: 0 0 10px 0;
    }
  }
}

.register__custom-button-wrapper {
  cursor: pointer;
  width: 90px;
  height: 45px;
  position: relative;
  margin-top: 15px;
  // font-family: "Arial Bold" !important;
  font-family: "Arial" !important;
  div.register__custom-button-wrapper__outside {
    // position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black !important;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.2s ease;
    border: none;
    @include create-hexagone-shape(5px);
  }
  &__mask {
    border: none;
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: $mobile-primary;
    width: calc(100% + 2px);
    height: 47px;
    // padding: 8px 12px;
    @include create-hexagone-shape(5px);
  }
}
