@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

.event-details-wrapper {
  background-image: url("~/website/img/hexagone-pattern.png");
  background-repeat: repeat;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  // padding-bottom: 100px;
  position: relative;
  &::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  &__outside {
    position: relative;
    width: 100%;
    height: $half-page-hero-image-height;
    background: $placeholder-background;
    display: flex;
    justify-content: center;
    align-items: center;
    &--hexa-shape {
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - #{$clipping-value * 2}),
        calc(100% - #{$clipping-value}) calc(100% - #{$clipping-value}),
        65% calc(100% - #{$clipping-value}),
        calc(65% - #{$clipping-value}) 100%,
        $clipping-value 100%,
        0 calc(100% - #{$clipping-value})
      );
    }
    @include is-extra-small-mobile {
      background: $mobile-primary;
      margin-top: -1 * $header-height-extra-mobile;
      height: $half-page-hero-image-height-mob;
    }
    &--none {
      clip-path: inset(0 0 0 0);
    }
  }

  &__inside {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    video {
      object-fit: cover;
      height: 100%;
    }
    img {
      height: 20vh;
      position: absolute;
      display: table;
      vertical-align: middle;
      @include is-mobile {
        width: 70%;
        height: auto;
      }
      @include is-extra-small-mobile {
        height: 40%;
      }
    }
    &--hexa-shape {
      clip-path: polygon(
        $clipped-area-border-value $clipped-area-border-value,
        calc(100% - #{$clipped-area-border-value}) $clipped-area-border-value,
        calc(100% - #{$clipped-area-border-value})
          calc(100% - (#{$clipping-value}* 2 + #{$clipped-area-border-value})),
        calc(100% - (#{$clipping-value} + #{$clipped-area-border-value}))
          calc(100% - (#{$clipping-value} + #{$clipped-area-border-value})),
        calc(65% - #{$clipped-area-border-value})
          calc(100% - (#{$clipping-value} + #{$clipped-area-border-value})),
        calc(65% - (#{$clipping-value} + #{$clipped-area-border-value}))
          calc(100% - #{$clipped-area-border-value}),
        $clipping-value + $clipped-area-border-value
          calc(100% - #{$clipped-area-border-value}),
        $clipped-area-border-value
          calc(100% - (#{$clipping-value} + #{$clipped-area-border-value}))
      );
      @include is-extra-small-mobile {
        clip-path: polygon(
          0 0,
          100% 0,
          100%
            calc(
              100% - (#{$clipping-value}* 2 + #{$clipped-area-border-value-mob})
            ),
          calc(100% - (#{$clipping-value} + #{$clipped-area-border-value-mob}))
            calc(
              100% - (#{$clipping-value} + #{$clipped-area-border-value-mob})
            ),
          calc(65% - #{$clipped-area-border-value-mob})
            calc(
              100% - (#{$clipping-value} + #{$clipped-area-border-value-mob})
            ),
          calc(65% - (#{$clipping-value} + #{$clipped-area-border-value-mob}))
            calc(100% - #{$clipped-area-border-value-mob}),
          $clipping-value + $clipped-area-border-value-mob
            calc(100% - #{$clipped-area-border-value-mob}),
          0
            calc(
              100% - (#{$clipping-value} + #{$clipped-area-border-value-mob})
            )
        );
      }
    }
    &--none {
      clip-path: inset(0 0 0 0);
    }
  }
  &__custom-button-wrapper {
    width: 190px;
    max-width: 190px;
    height: 52px;
    cursor: pointer;
    &__outside {
      position: relative;
      width: 100%;
      height: 100%;
      background: $solid-header;
      border: 2px solid $primary;
      color: $primary;
      border-radius: 10px;
      font-size: 1.3rem;
      transition: all 0.2s ease;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    @include is-mobile {
      display: flex !important;
      justify-content: flex-end;
      align-items: center;
    }
    @include is-extra-small-mobile {
      width: 90px;
      max-width: 90px;
      height: 44px;
    }
  }
  &__content {
    width: 100%;
    padding: 5vh 15%;
    height: max-content;
    color: white;
    @include is-mobile {
      padding: 5%;
    }
    @include is-extra-small-mobile {
      padding: 0;
    }
    &__breadcrumb {
      font-size: 1.8rem;
      padding-left: 15px;
      @include is-extra-small-mobile {
        margin-bottom: 16px;
        padding-left: 0;
        font-size: 16px;
      }
      a {
        text-decoration: none;
        color: white;
      }
      span {
        color: $primary;
      }
    }
    &__logo {
      padding-top: 60px;
      @include is-extra-small-mobile {
        padding-top: 0;
        padding-bottom: 5px;
        display: inline-block;
      }
      img {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include is-extra-small-mobile {
          margin-left: 0;
          width: 100px;
        }
      }
    }
    &__description {
      padding-top: 60px;
      @include is-extra-small-mobile {
        padding: 20px 0 0 0;
      }
    }
    &__tournaments {
      margin-top: 50px;
      @include is-extra-small-mobile {
        margin-top: 0;
        margin-bottom: 16px;
      }
      div:nth-child(1) {
        font-size: 2rem;
        color: $primary;
        @include is-extra-small-mobile {
          font-size: 24px;
          color: white;
        }
      }
      &__title {
        @include is-mobile {
          margin-top: 30px !important;
        }
      }
      div:nth-child(2) {
        height: 60px;
      }
    }
    &__custom-btn-outside {
      position: relative;
      margin: 20px auto;
      width: fit-content;
      min-width: 20%;
      max-width: 100%;
      height: fit-content;
      padding: 20px 35px;
      background: $solid-header;
      border: 2px solid $primary;
      border-radius: 10px;
      font-size: 1.05rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: wrap;
      @include is-mobile {
        width: 100%;
      }
      a {
        cursor: pointer;
      }
    }
    &__sponsor {
      margin: 5px 12px;
      &--main {
        max-width: 150px;
        max-height: 100px;
        @include is-mobile {
          max-width: 120px;
          max-height: 70px;
        }
        @include is-extra-small-mobile {
          max-width: 70px;
          max-height: 32px;
          margin: 5px;
        }
      }
      &--sub {
        max-width: 120px;
        max-height: 80px;
        @include is-mobile {
          max-width: 90px;
          max-height: 40px;
        }
        @include is-extra-small-mobile {
          max-width: 55px;
          max-height: 32px;
          margin: 5px;
        }
      }
      &--extra_sub {
        max-width: 75px;
        max-height: 50px;
        @include is-mobile {
          max-width: 40px;
          max-height: 30px;
        }
        @include is-extra-small-mobile {
          max-width: 45px;
          max-height: 32px;
          margin: 5px;
        }
      }
    }
    &__divider {
      width: 2px;
      max-width: 2px;
      min-width: 2px;
      height: 80px;
      margin: auto 12px;
      background-color: white !important;
      @include is-extra-small-mobile {
        height: 30px;
        margin: 0 5px;
        width: 1px;
        max-width: 1px;
        min-width: 1px;
        display: inline-block;
      }
    }
  }
}

.is-view {
  &--mobile {
    display: none;
    @include is-extra-small-mobile {
      display: block;
      margin: 16px;
    }
  }
  &--desktop {
    display: block;
    @include is-extra-small-mobile {
      display: none;
    }
  }
  &--flex-desktop {
    display: flex;
    @include is-extra-small-mobile {
      display: none;
    }
  }
}

.body-override {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.mobile-view {
  &__container {
    @include is-extra-small-mobile {
      width: 100%;
      padding: 0;
    }
  }
  &__row {
    @include is-extra-small-mobile {
      width: 100% !important;
      margin: 0 !important;
    }
  }
  &__col {
    @include is-extra-small-mobile {
      padding: 0 !important;
      margin: 0 0 10px 0;
    }
  }
}

.register__custom-button-wrapper {
  cursor: pointer;
  width: 90px;
  height: 45px;
  position: relative;
  margin-top: 15px;
  // font-family: "Arial Bold" !important;
  font-family: "Arial" !important;
  div.register__custom-button-wrapper__outside {
    // position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: black !important;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.2s ease;
    border: none;
    @include create-hexagone-shape(5px);
  }
  &__mask {
    border: none;
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: $mobile-primary;
    width: calc(100% + 2px);
    height: 47px;
    // padding: 8px 12px;
    @include create-hexagone-shape(5px);
  }
}
