@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.contact-wrapper {
  background-image: url("~/website/img/hexagone-pattern.png");
  background-repeat: repeat;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  &__outside {
    position: relative;
    width: 100%;
    height: $hero-image-height;
    background: $placeholder-background;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - #{$clipping-value * 2}),
      calc(100% - #{$clipping-value}) calc(100% - #{$clipping-value}),
      65% calc(100% - #{$clipping-value}),
      calc(65% - #{$clipping-value}) 100%,
      $clipping-value 100%,
      0 calc(100% - #{$clipping-value})
    );
  }

  &__inside {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    clip-path: polygon(
      $clipped-area-border-value $clipped-area-border-value,
      calc(100% - #{$clipped-area-border-value}) $clipped-area-border-value,
      calc(100% - #{$clipped-area-border-value})
        calc(100% - (#{$clipping-value}* 2 + #{$clipped-area-border-value})),
      calc(100% - (#{$clipping-value} + #{$clipped-area-border-value}))
        calc(100% - (#{$clipping-value} + #{$clipped-area-border-value})),
      calc(65% - #{$clipped-area-border-value})
        calc(100% - (#{$clipping-value} + #{$clipped-area-border-value})),
      calc(65% - (#{$clipping-value} + #{$clipped-area-border-value}))
        calc(100% - #{$clipped-area-border-value}),
      $clipping-value + $clipped-area-border-value
        calc(100% - #{$clipped-area-border-value}),
      $clipped-area-border-value
        calc(100% - (#{$clipping-value} + #{$clipped-area-border-value}))
    );
    img {
      width: 20%;
      position: absolute;
      display: table;
      vertical-align: middle;
      transform: translateX(calc(50vw - 50%));
    }
  }

  &__content {
    width: 100%;
    padding: 5vh 15%;
    height: max-content;
    @include is-mobile {
      padding: 5%;
    }
    &__icon {
      margin: 0 5px 0 2px;
    }
    h1,
    h2,
    p,
    span {
      color: white;
    }
    &__custom-button-wrapper {
      cursor: pointer;
      width: 150px;
      height: 46px;
      position: relative;
      font-family: "Arial Bold" !important;
      div.contact-wrapper__content__custom-button-wrapper__outside {
        // position: relative;
        width: 100%;
        height: 100%;
        color: white;
        background-color: black !important;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        transition: all 0.2s ease;
        border: none;
        @include create-hexagone-shape(5px);
      }
      &__mask {
        border: none;
        position: absolute;
        top: -1px;
        left: -1px;
        background-color: #175e90;
        width: calc(100% + 2px);
        height: 48px;
        // padding: 8px 12px;
        @include create-hexagone-shape(5px);
      }
    }
  }
}

.form-group {
  position: relative;
  margin-bottom: 10px !important;
  div {
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: #175e90;
    width: calc(100% + 2px);
    height: 44px;
    // padding: 8px 12px;
    @include create-hexagone-shape(5px);
  }
  div.text-area {
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: #175e90;
    width: calc(100% + 2px);
    height: 164px;
    resize: none;
    @include create-hexagone-shape(5px);
  }
}

.form-control {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  color: white;
  @include create-hexagone-shape(5px);
}
.form-control::placeholder {
  color: white;
  font-family: "Arial Bold" !important;
}
input[type="text"] {
  height: 42px !important;
}

$section-height: 500px;
$section-tab-height: 67px;
$section-tab-width: 363px;
$section-tab-clip: 20px;

.clipped-section {
  position: relative;
  margin-bottom: 100px;
  &__left-corner {
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: #175e90;
    top: 20px;
    left: 0px;
    transform: rotate(-45deg);
    transform-origin: top left;
    z-index: 10;
  }
  &__right-corner {
    display: none;
    @include is-extra-small-mobile {
      display: block;
      position: absolute;
      height: 2px;
      width: 28px;
      background-color: #175e90;
      top: 20px;
      right: 0px;
      transform: rotate(45deg);
      transform-origin: top right;
      z-index: 10;
    }
  }
  &__bottom-left-corner {
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: #175e90;
    bottom: 20px;
    left: 0px;
    transform: rotate(45deg);
    transform-origin: bottom left;
    z-index: 10;
  }
  &__bottom-right-corner {
    position: absolute;
    height: 2px;
    width: 28px;
    background-color: #175e90;
    bottom: 20px;
    right: 0px;
    transform: rotate(-45deg);
    transform-origin: bottom right;
    z-index: 10;
  }
}

// .upper-segment-shadow,
.upper-segment {
  height: $section-tab-height;
  width: $section-tab-width;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
  border-right: 2px solid #175e90;
  border-left: 2px solid #175e90;
  border-top: 2px solid #175e90;

  clip-path: polygon(
    $section-tab-clip/$section-tab-width * 100% 0,
    100% 0,
    100% 100%,
    100% 0,
    100% 100%,
    0 100%,
    0 100%,
    0 $section-tab-clip/$section-tab-height * 100%
  );
  @include is-extra-small-mobile {
    width: 100%;
    // clip-path: unset;
  }
  h1 {
    font-size: 40px;
    font-family: "Arial Bold" !important;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 25px !important;
    padding-left: 30px !important;
    margin: 0 !important;
    color: white !important;
    @include is-extra-small-mobile {
      font-size: 20px;
    }
  }
}
.body {
  position: relative;
  width: 100%;
  height: calc(#{$section-height} - #{$section-tab-height} - 20px);
  padding: 50px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid #175e90;
  border-right: 2px solid #175e90;
  @include is-extra-small-mobile {
    height: calc(965px - #{$section-tab-height} - 20px);
    padding: 20px 30px;
  }
  @include is-mobile {
    height: calc(666px - #{$section-tab-height} - 20px);
    padding: 20px 30px;
  }
  &__top-clipped {
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: calc(100% - #{$section-tab-width} + 4px);
    background-color: #175e90;
    @include is-extra-small-mobile {
      display: none;
    }
  }
}
.lower-segment {
  display: flex;
  height: $section-tab-clip;
  width: 100%;
  margin-top: -0.5px;

  &__left {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: $section-tab-width;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      100% 0,
      100% 100%,
      $section-tab-clip/$section-tab-width * 100% 100%,
      0 0,
      0 0
    );

    border-bottom: 2px solid #175e90;
  }
  &__right {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: $section-tab-width;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      100% 0,
      100% 100%,
      $section-tab-clip/$section-tab-width * 100% 100%,
      0 0,
      0 0
    );
    transform: rotateY(180deg);
    border-bottom: 2px solid #175e90;
  }
  &__center {
    height: 100%;
    width: calc(100% - 2 * #{$section-tab-width});
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid #175e90;
    @include is-extra-small-mobile {
      display: none;
    }
  }
}

.contact-us-text,
.contact-us-text > p > span,
.contact-us-text > span {
  font-size: 1.2rem;
  color: white !important;
  font-family: "Arial Bold" !important;
}
