@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.home-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $accent;
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }

  &__slide {
    height: 100vh !important;
    object-fit: cover;
    cursor: pointer;
    @include is-mobile {
      height: 108vh !important;
    }
  }
  &__hero {
    min-height: 100vh;
  }
  &__battles {
    width: 100%;
  }
  &__ready-section {
    display: flex;
    @include is-extra-small-mobile {
      display: block;
    }
    img {
      width: 40%;
      @include is-extra-large-desktop {
        width: 40%;
      }
      @include is-large-desktop {
        width: 40%;
      }
      @include is-desktop {
        width: 40%;
      }
      @include is-tablet {
        width: 40%;
      }
      @include is-mobile {
        width: 40%;
      }
      @include is-extra-small-mobile {
        width: 100%;
      }
    }
    div {
      background-color: $accent;
      width: 60%;
      @include is-extra-large-desktop {
        width: 60%;
      }
      @include is-large-desktop {
        width: 60%;
      }
      @include is-desktop {
        width: 60%;
      }
      @include is-tablet {
        width: 60%;
      }
      @include is-mobile {
        width: 60%;
      }
      @include is-extra-small-mobile {
        width: 100%;
      }
    }
  }
  &__content {
    width: 100%;
    height: max-content;
    background-image: url("~/website/img/hexagone-pattern.png");
    background-repeat: repeat;
    padding: 6% 15% 5% 15%;
    margin-top: 0 !important;
    @include is-tablet {
      padding: 10% 10% 20% 10%;
    }
    @include is-mobile {
      padding: 10% 10% 60% 10%;
    }
    h2 {
      margin: 0;
      color: white;
      font-size: 2rem;
    }
    .row {
      .col {
        padding: 5px;
      }
    }
  }
  &__navLinks {
    list-style: none;
    color: white;
    padding: 20px;
    margin-bottom: 0;
    li {
      display: inline-block;
      cursor: pointer;
      padding-right: 20px;
      transition: all 0.3s ease 0s;
      color: $inactive-header-link;
      font-size: 1.5rem;
      font-weight: lighter;
    }
    &--active {
      color: $primary !important;
      text-decoration: underline;
      font-family: "Roboto Bold";
    }
  }
}

.slick-slider {
  margin-top: -$header-height !important;
  @include is-mobile {
    margin-top: -$header-height-mobile;
  }
}
