@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.home-wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $accent;
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }

  &__slide {
    height: 100vh !important;
    object-fit: cover;
    cursor: pointer;
    @include is-mobile {
      height: 108vh !important;
    }
    @include is-extra-small-mobile {
      height: 45vh !important;
    }
  }
  &__hero {
    min-height: 100vh;
    @include is-extra-small-mobile {
      min-height: 45vh !important;
    }
  }

  &__ready-section {
    display: flex;
    height: 50vh;
    @include is-extra-small-mobile {
      height: auto;
    }
    &--section-2 {
      height: max-content;
      margin-top: 300px;
      margin-bottom: 100px;
      @include is-extra-small-mobile {
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
    @include is-extra-small-mobile {
      // display: block;
    }
    img {
      height: auto;
      object-fit: scale-down;
      margin-left: 0;
      @include is-extra-large-desktop {
        width: 30%;
        margin-right: 2.5%;
      }
      @include is-large-desktop {
        width: 35%;
        height: 80%;
      }
      @include is-desktop {
        width: 30%;
        height: 70%;
        object-fit: fill;
      }
      @include is-tablet {
        height: 60%;
        width: 30%;
        object-fit: fill;
      }
      @include is-mobile {
        height: 60%;
        width: 30%;
        object-fit: fill;
      }
      @include is-extra-small-mobile {
        height: 30%;
        width: 30%;
        object-fit: scale-down;
        margin-right: 4%;
      }
    }

    video {
      object-fit: cover;
      cursor: pointer;
      @include is-extra-large-desktop {
        height: 100%;
        width: 70%;
      }
      @include is-large-desktop {
        height: 80%;
        width: 65%;
      }
      @include is-desktop {
        height: 70%;
        width: 70%;
      }
      @include is-tablet {
        height: 60%;
        width: 70%;
      }
      @include is-mobile {
        height: 60%;
        width: 70%;
      }
      @include is-extra-small-mobile {
        // height: 30%;
        width: 66%;
      }
    }

    .home-wrapper__battles {
      width: 100%;
    }
    .home-wrapper__battles-word {
      height: auto;
      margin-left: 0;
      @include is-extra-large-desktop {
        object-fit: scale-down;
        width: 30%;
        margin-right: 2%;
        height: 100%;
      }
      @include is-large-desktop {
        width: 35%;
        height: 80%;
      }
      @include is-desktop {
        width: 30%;
        height: 70%;
        object-fit: fill;
      }
      @include is-tablet {
        height: 60%;
        width: 30%;
        object-fit: fill;
      }
      @include is-mobile {
        height: 60%;
        width: 30%;
        object-fit: fill;
      }
      @include is-extra-small-mobile {
        height: 30%;
        width: 30%;
        object-fit: scale-down;
      }
    }

    .home-wrapper__battles-logos {
      // object-fit: cover;
      @include is-extra-large-desktop {
        // height: 80%;
        width: 70%;
      }
      @include is-large-desktop {
        height: 80%;
        width: 65%;
      }
      @include is-desktop {
        height: 70%;
        width: 70%;
      }
      @include is-tablet {
        height: 60%;
        width: 70%;
      }
      @include is-mobile {
        height: 60%;
        width: 70%;
      }
      @include is-extra-small-mobile {
        height: 30%;
        width: 70%;
      }
    }
    div {
      background-color: $accent;
      width: 60%;
      @include is-extra-large-desktop {
        width: 60%;
      }
      @include is-large-desktop {
        width: 60%;
      }
      @include is-desktop {
        width: 60%;
      }
      @include is-tablet {
        width: 60%;
      }
      @include is-mobile {
        width: 60%;
      }
      @include is-extra-small-mobile {
        width: 60%;
      }
    }
  }
  &__content {
    width: 100%;
    height: max-content;
    background-image: url("~/website/img/hexagone-pattern.png");
    background-repeat: repeat;
    padding: 6% 15% 5% 15%;
    margin-top: 0 !important;
    position: relative;
    @include is-tablet {
      padding: 10% 10% 20% 10%;
    }
    @include is-mobile {
      padding: 10% 10% 60% 10%;
    }
    @include is-extra-small-mobile {
      padding: 6% 15% 30% 15%;
      height: fit-content;
      min-height: 66vh;
    }
    h2 {
      margin: 0;
      color: white;
      font-size: 2rem;
    }
    .row {
      .col {
        padding: 5px;
      }
    }
  }
  &__navLinks {
    list-style: none;
    color: white;
    padding: 20px;
    margin-bottom: 0;
    li {
      display: inline-block;
      cursor: pointer;
      padding-right: 20px;
      transition: all 0.3s ease 0s;
      color: $inactive-header-link;
      font-size: 1.5rem;
      font-weight: lighter;
    }
    &--active {
      color: $primary !important;
      text-decoration: underline;
      font-family: "Roboto Bold";
    }
  }
}

.slick-slider {
  margin-top: -$header-height !important;
  @include is-mobile {
    margin-top: -$header-height-mobile;
  }
}
